# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
.templates
template.config.js

frontmatter.json
.frontmatter

# 제외 포스트
_posts/2023-08-07-포스트-테스트.md