<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {% if site.avatar != empty and site.avatar %}
        {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
        <img src="{{ avatar_url | strip }}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {% endif %}
    </a>

    <p class="site-title">
      <a href="{{ '/' | relative_url }}">고양이와</br>별무리 도서관</a>
    </p>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- category -->
      <li class="nav-item{% if page.url == '/categories/' | relative_url %}{{ " active" }}{% endif %}">
        <a href="{{ '/categories/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-stream"></i>
          <span>{{ site.data.locales[include.lang].tabs.['categories'] | default: 'categories' | upcase }}</span>
        </a>
      </li>
      <!-- 프로그래밍 -->
      <li class="nav-item{% if page.url == '/categories/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/' | relative_url %}{{ " active" }}{% endif %}">
        <a href="{{ '/categories/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/' | relative_url }}" class="nav-link" >
          <i class="fa-solid fa-laptop-code"></i>
          프로그래밍
          {% assign posts_size = site.categories['프로그래밍'] | size %}
          <span class="text-muted small font-weight-light">&nbsp;({{ posts_size }})</span>
        </a>
        <!-- C++ -->
        <li class="nav-item{% if page.url == '/categories/c/' | relative_url %}{{ " active" }}{% endif %}">
          <a href="{{ '/categories/c/' | relative_url }}" class="nav-link py-1">
            <i class="fa fa-angle-right"></i>
            C++
            {% assign posts_size = site.categories['C++'] | size %}
            <span class="text-muted small font-weight-light">&nbsp;({{ posts_size }})</span>
          </a>
        </li>
        <!-- 코딩 테스트 -->
        <li class="nav-item{% if page.url == '/categories/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8/' | relative_url %}{{ " active" }}{% endif %}">
          <a href="{{ '/categories/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8/' | relative_url }}" class="nav-link py-1">
            <i class="fa fa-angle-right"></i>
            코딩 테스트
            {% assign posts_size = site.categories['코딩테스트'] | size %}
            <span class="text-muted small font-weight-light">&nbsp;({{ posts_size }})</span>
          </a>
        </li>
      </li>
      <!-- 컴퓨터 과학 -->
      <li class="nav-item{% if page.url == '/categories/%EC%BB%B4%ED%93%A8%ED%84%B0-%EA%B3%BC%ED%95%99/' | relative_url %}{{ " active" }}{% endif %}">
        <a href="{{ '/categories/%EC%BB%B4%ED%93%A8%ED%84%B0-%EA%B3%BC%ED%95%99/' | relative_url }}" class="nav-link" >
          <i class="fa-solid fa-computer"></i>
          컴퓨터 과학
          {% assign posts_size = site.categories['컴퓨터 과학'] | size %}
          <span class="text-muted small font-weight-light">&nbsp;({{ posts_size }})</span>
        </a>
        <!-- 자료구조 -->
        <li class="nav-item{% if page.url == '/categories/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0/' | relative_url %}{{ " active" }}{% endif %}">
          <a href="{{ '/categories/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0/' | relative_url }}" class="nav-link py-1">
            <i class="fa fa-angle-right"></i>
            자료구조
            {% assign posts_size = site.categories['자료구조'] | size %}
            <span class="text-muted small font-weight-light">&nbsp;({{ posts_size }})</span>
          </a>
        </li>
        <!-- 알고리즘 -->
        <li class="nav-item{% if page.url == '/categories/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98/' | relative_url %}{{ " active" }}{% endif %}">
          <a href="{{ '/categories/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98/' | relative_url }}" class="nav-link py-1">
            <i class="fa fa-angle-right"></i>
            알고리즘
            {% assign posts_size = site.categories['알고리즘'] | size %}
            <span class="text-muted small font-weight-light">&nbsp;({{ posts_size }})</span>
          </a>
        </li>
      </li>
      <!-- archives -->
      <li class="nav-item{% if page.url == '/archives/' | relative_url %}{{ " active" }}{% endif %}">
        <a href="{{ '/archives/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-archive"></i>
          <span>{{ site.data.locales[include.lang].tabs.['archives'] | default: 'archives' | upcase }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
